main {
  padding-top: 40px;
  height: 1490px;
  background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #febdab 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #e0d8f0 80.49%, #eaf7fe 127.9%, #eaf7fe 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #e0d8f0 80.49%, #eaf7fe 127.9%, #eaf7fe 149.54%);
}

.container h5 {
  margin: 0px;
  padding: 0px;
  font-size: 36px;
  line-height: 130%;
  color: #ffffff;
}

.container .small_text {
  font-weight: bold;
  font-size: 16px;
  line-height: 140%;
  color: #ffffff;
}

.container .donate-info {
  font-size: 36px;
  line-height: 130%;
  color: #fe9013;
}

.window * {
  padding: 0px;
  margin: 0px;
}

.window {
  padding: 40px 90px 60px 90px;
  height: 960px;
  background: rgba(255, 255, 255, 0.52);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.window .orange_text {
  font-size: 48px;
  line-height: 120%;
  text-align: center;
  color: #fe9013;
  margin-bottom: 20px;
}

.window .orange_text + p {
  font-size: 24px;
  line-height: 120%;
  color: #333b41;
  margin-bottom: 60px;
}

.window__animal {
  width: 520px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 80px;
}

.window__animal .amount-text {
  width: 160px;
  height: 90px;
}

.window__animal .amount-text .first {
  font-weight: bold;
  font-size: 72px;
  line-height: 80%;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.window__animal .amount-text .first + p {
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  color: #333b41;
}

.amount p {
  line-height: 140%;
  color: #000000;
  margin-bottom: 10px;
}

.amount .range {
  width: 976px;
  height: 27px;
  background: #404950;
  border-radius: 2px;
  margin-bottom: 12px;
  padding: 0px 30px;
}

.dots {
  width: 915px;
  height: 2px;
  background: #72828e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 13px;
  position: relative;
}

.dots .dot {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #ffee2e;
  border-radius: 50%;
  width: 10px;
  height: 10px;
}

.dots .small-circle {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 239px;
  top: -5px;
  z-index: 9;
}

.dots .big-circle {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 239px;
  top: -5px;
  z-index: 10;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 940px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0px auto;
}

.numbers p {
  font-weight: 500;
  font-size: 26px;
  line-height: 140%;
  text-transform: uppercase;
  color: #333b41;
}

.numbers p::before {
  content: "$";
}

.numbers .active,
.numbers .active::before {
  color: #fe9013;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
  /* <-- Apparently some margin are still there even though it's hidden */
}

.number {
  font-size: 16px;
  line-height: 140%;
  color: #929699;
  outline: none;
  border: 1px solid #929699;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 2px;
  width: 268px;
  height: 54px;
  padding: 16px 0px 16px 9px;
}

::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 140%;
  color: #929699;
  margin: 16px 0px 16px 9px;
}

::-moz-placeholder {
  margin: 16px 0px 16px 9px;
  font-size: 16px;
  line-height: 140%;
  color: #929699;
}

/* Firefox 19+ */
:-moz-placeholder {
  margin: 16px 0px 16px 9px;
  font-size: 16px;
  line-height: 140%;
  color: #929699;
}

/* Firefox 18- */
:-ms-input-placeholder {
  margin: 16px 0px 16px 9px;
  font-size: 16px;
  line-height: 140%;
  color: #929699;
}
/*# sourceMappingURL=styles.css.map */