main {
  padding-top: 40px;
  height: 1490px;
  background: linear-gradient(
      315.75deg,
      rgba(254, 210, 144, 0.7) 30.06%,
      #febdab 100.95%,
      rgba(254, 210, 144, 0.7) 106.36%
    ),
    linear-gradient(
      315.75deg,
      rgba(254, 189, 171, 0.74) 30.06%,
      rgba(243, 169, 248, 0.66) 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%
    ),
    linear-gradient(
      315.75deg,
      rgba(254, 189, 171, 0.74) 30.06%,
      rgba(243, 169, 248, 0.66) 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%
    );
}
.container {
  h5 {
    margin: 0px;
    padding: 0px;
    font-size: 36px;
    line-height: 130%;
    color: #ffffff;
  }
  .small_text {
    font-weight: bold;
    font-size: 16px;
    line-height: 140%;
    color: #ffffff;
  }
  .donate-info {
    font-size: 36px;
    line-height: 130%;
    color: #fe9013;
  }
}
.window {
  padding: 40px 90px 60px 90px;
  height: 960px;
  background: rgba(255, 255, 255, 0.52);
  backdrop-filter: blur(4px);
  border-radius: 20px;
  .orange_text {
    font-size: 48px;
    line-height: 120%;
    text-align: center;
    color: #fe9013;
  }
  .orange_text + p {
    font-size: 24px;
    line-height: 120%;
    color: #333b41;
  }
}
